<h5 class="edu_head">Education</h5>
 <p-timeline [value]="educations" align="left" [style]="{'margin-bottom':'10px'}" class="custom">
  <ng-template pTemplate="content" let-event>
  
    <p-accordion>
    <p-accordionTab>
      <ng-template pTemplate="header">  
        <img class="islogo" [src]="event.logo">
        {{ convertToMonthYearFormat(event.Year_from) + ', ' + event.Value }}
      </ng-template>
      <ng-template pTemplate="content">

        <h6><b>{{event.Type}}</b></h6>
        <p [innerHtml]="event.About | safeHtml"></p>
      </ng-template>
  </p-accordionTab>
  </p-accordion>
  </ng-template>
</p-timeline>

