.islogo{
    height: 30px;
    width: 30px;
    margin-right: 20px;
}
.edu_head{
    font-weight:500;
    margin-bottom: 15px;
}

::ng-deep .p-accordion-header-link{
    background-color: transparent !important;
}

::ng-deep .p-accordion-content{
    background-color: transparent !important;
}

