<button class="btn btn-outline-success btn_add" (click)="AddNewTag()">Add New Experience</button>
<app-spinnner *ngIf="!isloaded"></app-spinnner>

<div class="main_div" dragula="HANDLES" [(dragulaModel)]="this.userTagsOriginal">
    <app-user-experience-block *ngFor="let item of userTags; let i = index" (click)="MakeEditable(item,i)" (cancelChange)="cancelChange(i)" (TagObjChange)="TagUpdate($event,i)" (TagObjDelete)="Delete(i)"  [TagObj]="userTags[i]" [isEditable]="item.isEditable"></app-user-experience-block>
</div>

