<div class="main_div">
    <form [formGroup]="userInfo">
        <input formControlName="Name" placeholder="Name">
        <img [src]="this.userInfo.get('ProfilePic')!.value ?? '' ">
        <input formControlName="ProfilePic" placeholder="Name">
    </form>
    <!-- <div class="main_div">
        <button pButton pRipple (click)="displayMaximizable1=true" type="button" label="Open Image box" class="p-button-raised p-button-success p-button-text"></button>
        <button pButton pRipple (click)="displayMaximizable2=true" type="button" label="Open Image box" class="p-button-raised p-button-success p-button-text"></button>
    </div>
    
    <app-selectimagebox [displayMaximizable]="displayMaximizable1" [Multiple]="false" (onSelection)="imgSelected1($event)" (Close)="displayMaximizable1=$event"></app-selectimagebox>
    <app-selectimagebox [displayMaximizable]="displayMaximizable2" [Multiple]="true" (onSelection)="imgSelected2($event)" (Close)="displayMaximizable2=$event"></app-selectimagebox>
    {{selectedImage}} -->


</div>
