<div class="main_div">

    <h5 *ngIf="isEditable">Edit Social Media Details</h5>
    
    <input class="input_type1" type="text" placeholder="Tag Name" [(ngModel)]="TagObj.Social_Media_Name" [readonly]="!isEditable" [disabled]="TagObj.Social_Media_Name == 'MyResume'">
    <input class="input_type1" type="text" placeholder="Link" [(ngModel)]="TagObj.Link"  *ngIf="isEditable" [readonly]="!isEditable" [disabled]="TagObj.Social_Media_Name == 'MyResume'">
    <input class="input_type1 hidden" type="text" placeholder="Symbol" [(ngModel)]="TagObj.Image"  *ngIf="isEditable" [readonly]="!isEditable">
    <button pButton pRipple (click)="displayMaximizableProfilePic=true" type="button" label="Select Image" class="p-button-raised p-button-success p-button-text w-20"></button>
    <img [src]="this.profilePic?.url || 'assets/Images/no-image.png'" class="thumb_img">
   <div class="btn_grp">
       <button class="btn btn-outline-warning btn_type1" *ngIf="isEditable" (click)="UpdateTag($event)">Update</button>
       <button class="btn btn-outline-info btn_type1" *ngIf="isEditable" (click)="cancel($event)">Cancel</button>
       <button class="btn btn-outline-danger btn_type1" *ngIf="isEditable" (click)="deleteTag($event)">Delete</button>
    </div>
</div>
<app-selectimagebox [displayMaximizable]="displayMaximizableProfilePic" (onSelection)="imgSelectedProfilePic($event)" (Close)="displayMaximizableProfilePic=$event"></app-selectimagebox>
