<p-dialog header="Authentication Required!" class="hello" [(visible)]="displayModal" [modal]="true"
    [draggable]="false" [resizable]="false">
    <input type="text" pInputText [(ngModel)]="LoginDetails.username" placeholder="Username"> 
    <input type="password" pPassword [(ngModel)]="LoginDetails.password" placeholder="Password"> 
        <ng-template pTemplate="footer">
        <p-button icon="pi pi-user" (click)="Login()" label="Login" styleClass="p-button"></p-button>
        <!-- <p-button (click)="displayModal=false" label="Cancel" styleClass="p-button"></p-button> -->
        </ng-template>
</p-dialog>


<app-itshell></app-itshell>
