/* 
.hello div div div{
  background-color: #09152d !important;
  color: white !important;
  font-weight: 700 !important;
} */
.hello ::ng-deep .p-dialog-header,.hello ::ng-deep .p-dialog-content,.hello::ng-deep .p-dialog-footer {
  background-color: #09152d !important;
  color: white !important;
  font-weight: 700 !important;
}
.hello ::ng-deep .p-dialog-content{
  text-align: center;
}
.hello ::ng-deep .p-dialog-content .p-inputtext{
  background-color: #09152d;
  border: 1px solid white;
  color: white;
  width: 80%;
} 
.hello ::ng-deep .p-dialog-content .p-component{
  margin: 15px;
}
.hello ::ng-deep  .p-button{
  background-color: transparent;
}


.navbar-icon{
  height: 30px;
  padding: 5px;
}
