

::ng-deep .p-dialog-header,::ng-deep .p-dialog-content,::ng-deep .p-dialog-footer {
  background-color: #09152d !important;
  color: white !important;
  font-weight: 700 !important;
}
::ng-deep .p-dialog-content{
  text-align: center;
}
::ng-deep .p-dialog-content .p-inputtext{
  background-color: #09152d;
  border: 1px solid white;
  color: white;
  width: 80%;
} 
::ng-deep .p-dialog-content .p-component{
  margin: 15px;
}
::ng-deep  .p-button{
  background-color: transparent;
}







.navbar-icon{
  height: 30px;
  padding: 5px;
}
