*{
    font-family: 'Ubuntu', sans-serif;
  }
  
  .terminal{
    width:80%;
    height:70vh;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  
  }
  
  .dialog{
    background-color: black;
  }
  
  .terminal-navbar{
    height:40px;
    width: 100%;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    line-height: 30px;
    color: black;
    border: 1px solid black;
  }
  .navbar-headings{
    line-height: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    font-weight: 600;
  }
.terminal-body{
    height:70vh  !important;
    border: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    background-color: black;
    color: white;
  }
  
.stdin{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    margin: 0 5px;
    width: 80%;
}


.navbar-icon{
    height: 30px;
    padding: 5px;
  }
  